<div class="row taskBlockFilter">
    <div class="col-sm-6  row taskSpecified">
    </div>
    <div class="col-sm-6 actionBlock container">
        <div class="row">
            <div class="col-sm-4 statusButtonBlockFilter">
                <div class="dropdown statusButtonFilter">
                    <button class="btn btn-secondary dropdown-toggle" id="statusFilter" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonStatusFilter">
                        <a class="dropdown-item" data-value="Accepted">Accepted</a>
                        <a class="dropdown-item" data-value="Complete">Complete</a>
                        <a class="dropdown-item" data-value="InProgress">InProgress</a>
                        <a class="dropdown-item" data-value="Rejected">Rejected</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 priorityButtonBlockFilter">
                <div class=" col-sm-4 dropdown priorityButtonFilter">
                    <button class="btn btn-secondary dropdown-toggle" id="priorityFilter" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonPriorityFilter">
                        <a class="dropdown-item" data-value="Low">Low</a>
                        <a class="dropdown-item" data-value="Medium">Medium</a>
                        <a class="dropdown-item" data-value="High">High</a>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary clearFilterButton">Clear Filter</button>
        </div>
    </div>
</div>
